<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css'%}">
</head>
<body class="backgr">
    <header class="fade-in">
        <h1 id = "bighead">Chatbot</h1>
        <nav>
            <div class = "navdiv">
                <a href ="{% url 'home' %}">Home</a> 
                <a href ="{% url 'about' %}">About</a>
                <a href="{% url 'form' %}">Form</a> 
                <a href="{% url 'gallery' %}">Gallery</a>
                <a href="{% url 'chatbot' %}">ChatBot</a>
            </div>
            <hr>
        </nav>
    </header>

    <div class="chat-container" id="chat-container"></div>
    <form id="chat-form">
        <input type="text" id="user-input" placeholder="Answer Here...">
        <button type="submit">Submit</button>
    </form>
    <script src="{% static 'js/chatbot.js'%}"></script>

    <footer>
        <div class = "footerContainer"></div>
            <h2>Contacts</h2>
            <div class = "footerContacts">
                <ul>
                    <li><a href="mailto: aleliuhin@gmail.com" target=”_blank”>Email</a></li>
                    <li><a href="https://github.com/ALeliuhin" target=”_blank”>GitHub</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target=”_blank”>Important</a></li>
                    <li><a href="tel:+40774617402" target=”_blank”>+40774617402</a></li>
                </ul>
            </div>

            <div class = "footerNav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'form' %}">Form</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'chatbot' %}">ChatBot</a></li>
                </ul>
            </div>
        </div>
        &copy; 2024 Artiom's Blog
    </footer>
</body>
</html>